/* styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #f0f0f0;
    padding: 20px;
    text-align: center;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

section {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #333;
    margin-top: 0;
}

img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    margin: 20px 0;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

li:last-child {
    border-bottom: none;
}

footer {
    background-color: #f0f0f0;
    padding: 10px;
    text-align: center;
    color: #666;
}

/* Estilização para o botão */

.btn {
    background-color: #4CAF50; /* Cor de fundo do botão */
    color: #fff; /* Cor do texto do botão */
    padding: 10px 20px; /* Preenchimento do botão */
    border: none; /* Remover borda do botão */
    border-radius: 5px; /* Arredondar cantos do botão */
    cursor: pointer; /* Mudar cursor para ponteiro */
    transition: background-color 0.3s ease; /* Efeito de transição para o botão */
}

.btn:hover {
    background-color: #3e8e41; /* Cor de fundo do botão ao passar o mouse */
}

.btn span {
    font-size: 16px; /* Tamanho do texto do botão */
    font-weight: bold; /* Negrito do texto do botão */
}

.btn i {
    font-size: 18px; /* Tamanho do ícone do botão */
    margin-left: 10px; /* Espaçamento entre o texto e o ícone */
}

/* Estilização para a seção de oportunidades */

#oportunidades {
    background-color: #f7f7f7; /* Cor de fundo da seção */
    padding: 20px; /* Preenchimento da seção */
    margin-bottom: 20px; /* Espaçamento entre a seção e o elemento seguinte */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra da seção */
}

#oportunidades h2 {
    color: #333; /* Cor do título da seção */
    margin-top: 0; /* Remover margem superior do título */
}

#oportunidades p {
    margin-bottom: 20px; /* Espaçamento entre o parágrafo e o próximo elemento */
}

#oportunidades ul {
    list-style: none; /* Remover estilo de lista */
    padding: 0; /* Remover preenchimento da lista */
    margin: 0; /* Remover margem da lista */
}

#oportunidades li {
    padding: 10px; /* Preenchimento dos itens da lista */
    border-bottom: 1px solid #ccc; /* Bordas entre os itens da lista */
}

#oportunidades li:last-child {
    border-bottom: none; /* Remover borda do último item da lista */
}

#oportunidades .btn {
    margin-top: 20px; /* Espaçamento entre o botão e o elemento anterior */
}