/* styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #118602;
}

header {
    background-color: #b3ff00;
    padding: 20px;
    text-align: center;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

section {
    background-color: #ffffff;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #000000;
    margin-top: 0;
}

img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    margin: 20px 0;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

li:last-child {
    border-bottom: none;
}

footer {
    background-color: #f0f0f0;
    padding: 10px;
    text-align: center;
    color: #666;
}

/* Estilização para o botão */

.btn {
    --border-color: linear-gradient(-45deg, #ffae00, #7e03aa, #00fffb);
    --border-width: 0.125em;
    --curve-size: 0.5em;
    --blur: 30px;
    --bg: #080312;
    --color: #afffff;
    color: var(--color);
    cursor: pointer;
    /* use position: relative; so that BG is only for .btn */
    position: relative;
    isolation: isolate;
    display: inline-grid;
    place-content: center;
    padding: 0.5em 1.5em;
    font-size: 17px;
    border: 0;
    text-transform: uppercase;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.6);
    clip-path: polygon(
      /* Top-left */ 0% var(--curve-size),
      var(--curve-size) 0,
      /* top-right */ 100% 0,
      100% calc(100% - var(--curve-size)),
      /* bottom-right 1 */ calc(100% - var(--curve-size)) 100%,
      /* bottom-right 2 */ 0 100%
    );
    transition: color 250ms;
  }
  
  .btn::after,
  .btn::before {
    content: "";
    position: absolute;
    inset: 0;
  }
  
  .btn::before {
    background: var(--border-color);
    background-size: 300% 300%;
    animation: move-bg7234 5s ease infinite;
    z-index: -2;
  }
  
  @keyframes move-bg7234 {
    0% {
      background-position: 31% 0%;
    }
  
    50% {
      background-position: 70% 100%;
    }
  
    100% {
      background-position: 31% 0%;
    }
  }
  
  .btn::after {
    background: var(--bg);
    z-index: -1;
    clip-path: polygon(
      /* Top-left */ var(--border-width)
        calc(var(--curve-size) + var(--border-width) * 0.5),
      calc(var(--curve-size) + var(--border-width) * 0.5) var(--border-width),
      /* top-right */ calc(100% - var(--border-width)) var(--border-width),
      calc(100% - var(--border-width))
        calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5)),
      /* bottom-right 1 */
        calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5))
        calc(100% - var(--border-width)),
      /* bottom-right 2 */ var(--border-width) calc(100% - var(--border-width))
    );
    transition: clip-path 500ms;
  }
  
  .btn:where(:hover, :focus)::after {
    clip-path: polygon(
      /* Top-left */ calc(100% - var(--border-width))
        calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5)),
      calc(100% - var(--border-width)) var(--border-width),
      /* top-right */ calc(100% - var(--border-width)) var(--border-width),
      calc(100% - var(--border-width))
        calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5)),
      /* bottom-right 1 */
        calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5))
        calc(100% - var(--border-width)),
      /* bottom-right 2 */
        calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5))
        calc(100% - var(--border-width))
    );
    transition: 200ms;
  }
  
  .btn:where(:hover, :focus) {
    color: #fff;
  }
  

.btn:hover {
    background-color: #3e8e41; /* Cor de fundo do botão ao passar o mouse */
}

.btn span {
    font-size: 16px; /* Tamanho do texto do botão */
    font-weight: bold; /* Negrito do texto do botão */
}

.btn i {
    font-size: 18px; /* Tamanho do ícone do botão */
    margin-left: 10px; /* Espaçamento entre o texto e o ícone */
}

/* Estilização para a seção de oportunidades XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/

#oportunidades {
    background-color: #f7f7f7; /* Cor de fundo da seção */
    width: 85%;
    padding: 20px; /* Preenchimento da seção */
    margin-bottom: 20px; /* Espaçamento entre a seção e o elemento seguinte */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra da seção */
}

#oportunidades h2 {
    color: #333; /* Cor do título da seção */
    margin-top: 0; /* Remover margem superior do título */
}

#oportunidades p {
    margin-bottom: 20px; /* Espaçamento entre o parágrafo e o próximo elemento */
}

#oportunidades ul {
    list-style: none; /* Remover estilo de lista */
    padding: 0; /* Remover preenchimento da lista */
    margin: 0; /* Remover margem da lista */
}

#oportunidades li {
    padding: 10px; /* Preenchimento dos itens da lista */
    border-bottom: 1px solid #ccc; /* Bordas entre os itens da lista */
}

#oportunidades li:last-child {
    border-bottom: none; /* Remover borda do último item da lista */
}

#oportunidades .btn {
    margin-top: 20px; /* Espaçamento entre o botão e o elemento anterior */

}

/* Estilização para a seção do CAMPO XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */

#campo {
    background-color: #fff; /* Cor de fundo da seção */
    padding: 20px; /* Preenchimento da seção */
    margin-bottom: 20px; /* Espaçamento entre a seção e o elemento seguinte */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra da seção */
    width: 85%; /* largura da seção */ 
}

#campo h2 {
    color: #333; /* Cor do título da seção */
    margin-top: 0; /* Remover margem superior do título */
}

#campo p {
    margin-bottom: 20px; /* Espaçamento entre o parágrafo e o próximo elemento */
}

.campo-numeros {
    display: flex; /* Layout flexível para os números */
    justify-content: space-between; /* Espaçamento entre os números */
    margin-bottom: 20px; /* Espaçamento entre os números e o botão */
}

.numero {
    width: 30%; /* Largura de cada número */
    text-align: center; /* Alinhar texto ao centro */
}

.numero h3 {
    font-size: 24px; /* Tamanho do título do número */
    font-weight: bold; /* Negrito do título do número */
    margin-top: 0; /* Remover margem superior do título */
}

.numero p {
    font-size: 16px; /* Tamanho do texto do número */
    color: #666; /* Cor do texto do número */
}

#campo .btn {
    margin-top: 20px; /* Espaçamento entre o botão e o elemento anterior */
}

/* Estilização para a seção Saiba mais sobre o CAMPOOOOOOOOOOOOOOOO */

#saiba-mais-campo {
    background-color: #f7f7f7; /* Cor de fundo da seção */
    padding: 20px; /* Preenchimento da seção */
    margin-bottom: 20px; /* Espaçamento entre a seção e o elemento seguinte */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra da seção */
}

#saiba-mais-campo h2 {
    color: #333; /* Cor do título da seção */
    margin-top: 0; /* Remover margem superior do título */
}

#saiba-mais-campo p {
    margin-bottom: 20px; /* Espaçamento entre o parágrafo e o próximo elemento */
}

.campo-detalhes {
    display: flex; /* Layout flexível para os detalhes */
    flex-wrap: wrap; /* Quebrar linha para os detalhes */
    justify-content: space-between; /* Espaçamento entre os detalhes */
    margin-bottom: 20px; /* Espaçamento entre os detalhes e o botão */
}
.detalhe {
    max-width: 45%; /* Maximum width of each detail */
    margin: 20px; /* Spacing between details */
    background-color: #fff; /* Background color of detail */
    padding: 20px; /* Padding of detail */
    border: 1px solid #ddd; /* Border of detail */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Shadow of detail */
    overflow: hidden; /* Add this to prevent image from overflowing */
    text-align: center;
  }
  
  .numero img {
    width: 100%; /* Make image take full width of parent container */
    height: auto; /* Maintain image aspect ratio */
    object-fit: cover; /* Ensure image is fully visible */
  }
.detalhe h3 {
    font-size: 18px; /* Tamanho do título do detalhe */
    font-weight: bold; /* Negrito do título do detalhe */
    margin-top: 0; /* Remover margem superior do título */
}

.detalhe p {
    font-size: 16px; /* Tamanho do texto do detalhe */
    color: #666; /* Cor do texto do detalhe */
}

#saiba-mais-campo .btn {
    margin-top: 20px; /* Espaçamento entre o botão e o elemento anterior */
}

/* Estilização para a seção Localização do Campo */

#localizacao-campo {
    background-color: #f7f7f7; /* Cor de fundo da seção */
    padding: 20px; /* Preenchimento da seção */
    margin-bottom: 20px; /* Espaçamento entre a seção e o elemento seguinte */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra da seção */
}

#localizacao-campo h2 {
    color: #333; /* Cor do título da seção */
    margin-top: 0; /* Remover margem superior do título */
}

#localizacao-campo p {
    margin-bottom: 20px; /* Espaçamento entre o parágrafo e o próximo elemento */
}

.localizacao-mapa {
    margin-bottom: 20px; /* Espaçamento entre o mapa e os detalhes */
}

.localizacao-detalhes {
    display: flex; /* Layout flexível para os detalhes */
    flex-wrap: wrap; /* Quebrar linha para os detalhes */
    justify-content: space-between; /* Espaçamento entre os detalhes */
}

.localizacao-detalhes h3 {
    font-size: 18px; /* Tamanho do título dos detalhes */
    font-weight: bold; /* Negrito do título dos detalhes */
    margin-top: 0; /* Remover margem superior do título */
}

.localizacao-detalhes p {
    font-size: 16px; /* Tamanho do texto dos detalhes */
    color: #666; /* Cor do texto dos detalhes */
}

.localizacao-detalhes ul {
    list-style: none; /* Remover estilo de lista */
    padding: 0; /* Remover preenchimento da lista */
    margin: 0; /* Remover margem da lista */
}

.localizacao-detalhes li {
    margin-bottom: 10px; /* Espaçamento entre os itens da lista */
}

/* Estilização para a seção Culturas do Campo */

#culturas-campo {
    background-color: #ffffff; /* Cor de fundo da seção */
    padding: 20px; /* Preenchimento da seção */
    margin-bottom: 20px; /* Espaçamento entre a seção e o elemento seguinte */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra da seção */
}

#culturas-campo h2 {
    color: #333; /* Cor do título da seção */
    margin-top: 0; /* Remover margem superior do título */
}

#culturas-campo p {
    margin-bottom: 20px; /* Espaçamento entre o parágrafo e o próximo elemento */
}

.culturas-lista {
    display: flex; /* Layout flexível para a lista de culturas */
    flex-wrap: wrap; /* Quebrar linha para a lista de culturas */
    justify-content: space-between; /* Espaçamento entre as culturas */
}

.culturas-lista h3 {
    font-size: 18px; /* Tamanho do título das culturas */
    font-weight: bold; /* Negrito do título das culturas */
    margin-top: 0; /* Remover margem superior do título */
}

/* Estilização para a seção Irrigação do Campo */

#irrigacao-campo {
    background-color: #f7f7f7; /* Cor de fundo da seção */
    padding: 20px; /* Preenchimento da seção */
    margin-bottom: 20px; /* Espaçamento entre a seção e o elemento seguinte */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra da seção */
}

#irrigacao-campo h2 {
    color: #333; /* Cor do título da seção */
    margin-top: 0; /* Remover margem superior do título */
}

#irrigacao-campo p {
    margin-bottom: 20px; /* Espaçamento entre o parágrafo e o próximo elemento */
}

.irrigacao-metodos {
    display: flex; /* Layout flexível para os métodos de irrigação */
    flex-wrap: wrap; /* Quebrar linha para os métodos de irrigação */
    justify-content: space-between; /* Espaçamento entre os métodos de irrigação */
}

.irrigacao-metodos h3 {
    font-size: 18px; /* Tamanho do título dos métodos de irrigação */
    font-weight: bold; /* Negrito do título dos métodos de irrigação */
    margin-top: 0; /* Remover margem superior do título */
}

.irrigacao-metodos ul {
    list-style: none; /* Remover estilo de lista */
    padding: 0; /* Remover preenchimento da lista */
    margin: 0; /* Remover margem da lista */
}

.irrigacao-metodos li {
    margin-bottom: 10px; /* Espaçamento entre os itens da lista */
}

/* Estilização para a seção Localização da Cidade */
#cidade{
    width: 85%; /* largura da seção */ 
    border-radius: 10px; /**/
    margin-bottom: 150px; /**/
}



#localizacao-cidade {
    background-color: #f7f7f7; /* Cor de fundo da seção */
    padding: 20px; /* Preenchimento da seção */
    margin-bottom: 20px; /* Espaçamento entre a seção e o elemento seguinte */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra da seção */
}

#localizacao-cidade h2 {
    color: #333;}

    .cidade-galeria {
        margin: 20px 0;
      }
      
      .cidade-galeria h3 {
        text-align: center;
        margin-bottom: 20px;
      }
      
      .galeria {
        display: flex;
        justify-content: center;
        overflow-x: auto;
      }
      
      .galeria img {
        width: 300px;
        height: 200px;
        object-fit: cover;
        margin-right: 10px;
        border-radius: 5px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      }
      
      @media (max-width: 600px) {
        .galeria img {
          width: 100%;
          margin-right: 0;
        }
      }

    
.imagem-centro{
    height: 200px;
    width: auto;
    align-items: center;
    display: block;
}

.img50{ /* deixa o tamanho da img reduzido em 50%*/
    width: 50%;
   
}

/* styles.css */
.stats {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
  .stats h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .stats p {
    font-size: 18px;
    margin-bottom: 20px;
  }
  
  .stats img {
    width: 100%;
    height: 200px;
    margin: 20px 0;
  }
  
  .stats h3 {
    font-size: 20px;
    margin-bottom: 10px;
  }

  /* styles.css */
.stats {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
  .stats h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .stats p {
    font-size: 18px;
    margin-bottom: 20px;
  }
  
  .stats img {
    width: 100%;
    height: 200px;
    margin: 20px 0;
  }
  
  .stats ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .stats li {
    margin: 20px;
    width: 30%;
  }
  
  .stats span {
    font-weight: bold;
    font-size: 18px;
  }
  
  .stats p {
    font-size: 16px;
    margin-bottom: 10px;
  }

  .festivaisdemusica img {
    width: 50px; /* largura da imagem */
    height: 50px; /* altura da imagem */
    object-fit: cover; /* ajusta a imagem para cobrir toda a área */
    border-radius: 10px; /* arredonda as bordas da imagem */
    margin: 10px; /* espaçamento entre a imagem e o texto */
  }

